{{!-- Рендерится в <aside></aside> перед profile-card.hbs по объекту из массива users
и рендерится поо результату поиска юзеров --}}
{{#each this}}
<div class="avatar-container">
    <img class="avatar-container__image" src="{{imageURL}}" alt="{{nickname}}">
    <h1 class="avatar-container__title">{{firstName}}{{lastName}}</h1>
    <p class="avatar-container__status">{{status}}</p>
</div>
{{/each}}