<li class="cardset__item">
    <a href="" class="cardset__link">
        <picture class="cardset__picture">
            <img class="cardset__image" srcset="{{#each imageUrls}}{{#if @first}}{{this}}{{/if}}{{/each}} 352w"
                sizes="(min-width: 1280px) 25vw,(min-width: 768px) 50vw, (min-width: 480px) and (orientation: landscape) 50vw, 100vw"
                src="{{#each imageUrls}}{{#if @first}}{{this}}{{/if}}{{/each}}" alt="{{title}}" />
        </picture>
        <div class="cardset__description">
            <h4 class="cardset__title">{{title}}</h4>
            <p>{{#if oldPrice}}<span class="cardset__price del"><span
                        class="cardset__price old">{{oldPrice}}</span></span>{{/if}}<span
                    class="cardset__price new">{{price}} грн</span></p>
        </div>
        <div class="cardset__overlay">
            <div class="icons-container">
                <span data-like data-id="{{_id}}" class=" material-icons cardset__icons">favorite_border</span>
            </div>
            <div class="icons-container">
                <span data-create data-id="{{_id}}" class=" material-icons cardset__icons unauthorized">create</span>
            </div>
            <div class="icons-container">
                <span data-modal="true" data-hbs="10" data-open data-id="{{_id}}"
                    class="material-icons cardset__icons">fullscreen</span>
            </div>
        </div>
    </a>
</li>