<div class="backdrop">
    <div class="add-card__modal">
        <button class="icon-btn">
            <span class="material-icons" data-close>clear</span>
        </button>
        <p class="add-card__title">Редагувати оголошення</p>
        <form class="add-card__form">
            <ul class="add-card__fields">
                <li class="add-card__item">
                    <label class="add-card__label">
                        <span class="add-card__subtitle">Назва товару</span>
                        <input class="add-card__input" type="text" name="title" value="{{title}}" required />
                    </label>
                    <p class="error-message"></p>
                </li>
                <li class="add-card__item">
                    <label class="add-card__label">
                        <span class="add-card__subtitle">Фото</span>
                        <ul class="photo-list">
                            {{#each imageUrls}}
                            <li class="photo-item">
                                <input id="photoElem" class="photo-input" type="file" name="file" multiple
                                    accept="image/*" />
                                <label for="photoElem" class="photo-label"><span
                                        class="material-icons">add</span></label>
                                <img id="output_image" src="{{this}}" />
                            </li>
                            <li class="photo-item">
                                <label for="photoElem" class="photo-label"><span
                                        class="material-icons">add</span></label>
                                <img id="output_image" src="{{this}}" />
                            </li>
                            <li class="photo-item">
                                <label for="photoElem" class="photo-label"><span
                                        class="material-icons">add</span></label>
                                <img id="output_image" src="{{this}}" />
                            </li>
                            <li class="photo-item">
                                <label for="photoElem" class="photo-label"><span
                                        class="material-icons">add</span></label>
                                <img id="output_image" src="{{this}}" />
                            </li>
                            <li class="photo-item">
                                <label for="photoElem" class="photo-label"><span
                                        class="material-icons">add</span></label>
                                <img id="output_image" src="{{this}}" />
                            </li>
                            {{/each}}
                        </ul>
                    </label>
                </li>
                <li class="add-card__item">
                    <label class="add-card__label">
                        <span class="add-card__subtitle">Опис товару</span>
                        <textarea rows="3" class="add-card__input description"
                            name="description">{{description}}</textarea>
                    </label>
                    <p class="error-message"></p>
                </li>
                <li class="add-card__item">
                    <label class="add-card__label notice select-field">
                        <span class="add-card__subtitle">Категорія товару</span>
                        <input list="categories" class="add-card__input select-input" type="text" name="category"
                            value="{{category}}" required />
                        <div class="category-list"></div>
                        <button class="icon-btn open-category" type="button">
                            <span class="material-icons" width="10px" height="5px">arrow_drop_down</span>
                        </button>
                    </label>
                    <p class="error-message"></p>
                </li>
                <li class="add-card__item">
                    <label class="add-card__label notice">
                        <span class="add-card__subtitle">Ціна</span>
                        <input class="add-card__input" type="number" name="price" placeholder=" " value="{{price}}" />
                        <span class="notice-label">0.00</span>
                        <span class="price-valuta">грн</span>
                    </label>
                    <p class="error-message"></p>
                </li>
                <li class="add-card__item">
                    <label class="add-card__label notice">
                        <span class="add-card__subtitle">Телефон</span>
                        <input class="add-card__input" type="tel" name="phone" placeholder=" " value="{{phone}}" />
                        <span class="notice-label">+38 (0--) --- -- --</span>
                    </label>
                    <p class="error-message"></p>
                </li>
                <li class="add-card__item">
                    <label class="checkbox-field">
                        <input class="checkbox" type="checkbox" name="checkbox" />
                        <span class="checkbox-label">
                            Видалити оголошення
                        </span>
                    </label>
                </li>
            </ul>
            <div class="edit-buttons">
                <button class="submit-btn on-change" type="submit">Зверегти</button>
                <button class="submit-btn reset" type="reset">Відміна</button>
            </div>
        </form>
    </div>
</div>