<div class="backdrop" data-close>
    <div class="modal-product">
        <button class="button-close">
            <span class="material-icons" data-close>clear</span>
        </button>
        <div class="modal-content-inner"></div>
        <div class="modal-content-box">
            <h4 class="modal-content-box_title">{{title}}</h4>
            <p class="modal-content-box_code">Код товару | {{__v}}</p>
        </div>
        <div class="modal-photo-box">
            <div class="modal-product_photo">
                <img class="main-modal-photo" src="{{#each imageUrls}}{{#if @first}}{{this}}{{/if}}{{/each}}"
                    alt="product photo" />
            </div>
            <div class="photo-wrapper">
                <ul class="photo-list">
                    {{#each imageUrls}}
                    <li class="photo-list_item">
                        <img class="photo-list-item-img" src="{{this}}" alt="product photo" />
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="modal-content-wrapper">
            <div class="modal-content-box-down">
                <h4 class="modal-content-box_title">{{title}}</h4>
                <p class="modal-content-box_code">Код товару | {{__v}}</p>
            </div>
            <p class="modal-content-wrapper_price">{{price}}.00 грн</p>
            <div class="modal-button-box">
                Информация о <br />
                продавце
            </div>
            <div class="modal-button-box-info">
                <p class="button-info_text">
                    <span class="button-info_accent">Ольга</span> - на OLX с нояб. 2018
                <p class="button-info_text-number">{{phone}}</p>
                </p>
            </div>
            <div class="modal-actions">
                <ul class="actions-list">
                    <li class="actions-item">
                        <button class="actions-item_button">
                            <p data-id="{{_id}}" class="actions-item_title">В обране</p>
                            <span class="material-icons md-16">favorite_border</span>
                        </button>
                    </li>
                    <li class="actions-item">
                        <button class="actions-item_button">
                            <p class="actions-item_title">Поділитися</p>
                            <span class="material-icons md-16" width="10px">share</span>
                        </button>
                    </li>
                </ul>
            </div>
            <p class="modal-text-title">Опис:</p>
            <p class="modal-text">
                {{description}}
            </p>
        </div>
    </div>
</div>