<section>
    <ul class="categorylist">
        {{#each this}}
        <li class="categorylist__item">
            <div class="categorylist__description">
                <button class="categorylist__btn left">
                    <span class="material-icons">keyboard_arrow_left</span>
                </button>
                <h3 class="categorylist__title">{{@key}}</h3>
                <button class="categorylist__btn right">
                    <span class="material-icons">keyboard_arrow_right</span>
                </button>
            </div>
        </li>
        {{/each}}
    </ul>


    <ul class="cardset">
        {{#each this}}
        <li class="cardset__item">
            <a href="" class="cardset__link">
                <picture class="cardset__picture">
                    <img class="cardset__image" srcset="../img/Goods-image@1x.png 352w, ../img/Goods-image@2x.png 704w"
                        sizes="(min-width: 1280px) 25vw,(min-width: 768px) 50vw, (min-width: 480px) and (orientation: landscape) 50vw, 100vw"
                        src="../img/Goods-image@1x.png" alt="{{tags}}" />
                </picture>
                <div class="cardset__description">
                    <h4 class="cardset__title">{{title}}</h4>
                    <p><span class="cardset__price del"><span class="cardset__price old">{{oldPrice}}</span></span><span
                            class="cardset__price new">{{price}}</span></p>
                </div>
                <div class="cardset__overlay">
                    <div class="icons-container">
                        <span class="material-icons cardset__icons">favorite_border</span>
                    </div>

                    <div class="icons-container">
                        <span class="material-icons cardset__icons">fullscreen</span>
                    </div>
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
</section>